NET "BTN_UP" LOC = "V4"  | IOSTANDARD = LVTTL | PULLDOWN ;
NET "BTN_DOWN" LOC = "K17" | IOSTANDARD = LVTTL | PULLDOWN ;
NET "LED_UP" LOC = "E12" | IOSTANDARD = LVTTL | SLEW = SLOW | DRIVE = 8 ;
NET "LED_DOWN" LOC = "F12" | IOSTANDARD = LVTTL | SLEW = SLOW | DRIVE = 8 ;
NET "CLK" LOC = "C9" | IOSTANDARD = LVCMOS33 ;
